Q-1. Write an SQL query to print the first three characters of  FIRST_NAME from Worker
table.

In [11]:
import pyodbc
conne = pyodbc.connect("Driver={SQL Server Native client 11.0};"
                       "Server=DESKTOP-FURKR4H\SOMESHNAMAN;"
                       "Database=Human_resources;"
                       "Trusted_Connection=yes;")

In [12]:
cursor = conne.cursor()
result = cursor.execute("select top 50 first_name from Employees  where first_name like '___' ")
for row in result.fetchall():
    print(row)

('Uri', )
('Tse', )
('Udi', )
('Gao', )
('Ger', )
('Tsz', )
('Ulf', )
('Uno', )
('Gio', )
('Gro', )
('Goo', )
('Van', )
('Gou', )
('Udi', )
('Ute', )
('Fei', )
('Gil', )
('Goo', )
('Gou', )
('Gio', )
('Udo', )
('Utz', )
('Ger', )
('Val', )
('Uma', )
('Goh', )
('Gor', )
('Tze', )
('Gor', )
('Tze', )
('Gou', )
('Udi', )
('Fun', )
('Gad', )
('Gor', )
('Gen', )
('Tse', )
('Tua', )
('Ung', )
('Goh', )
('Tru', )
('Tse', )
('Ung', )
('Goh', )
('Gal', )
('Uzi', )
('Fay', )
('Ult', )
('Tru', )
('Gil', )

Q-2. Write an SQL query to find the position of the alphabet (‘a’) in the first name
column ‘Amitabh’ from Worker table.

In [9]:
cursor
result = cursor.execute("select CHARINDEX('a','Aiman') as position"  )
for record in result.fetchall():
    print(record)

(1, )

Q-3. Write an SQL query to print the name of employees having the highest salary in each
department.

In [14]:
cursor
result = cursor.execute('''
select top 10 Salary ,Department_name,
Name_of_emp from (select 
dept_name as Department_name,
first_name As Name_of_emp,
([current_salary]) as Salary

from Departments as dp  inner join [dbo].[Employee_Movements_History] as e_his
on dp.dept_no = e_his.dept_no inner join Employees as emp
on emp.emp_no=e_his.emp_no inner join  Salary_History as sls
on emp.emp_no = sls.emp_no )  As Temp_query order by Salary desc ''' )
for record in result.fetchall():
    print(record)

(158220, 'Sales', 'Tokuyasu')
(157821, 'Sales', 'Tokuyasu')
(156286, 'Sales', 'Honesty')
(155709, 'Sales', 'Xiahua')
(155513, 'Sales', 'Sanjai')
(155377, 'Sales', 'Tsutomu')
(155190, 'Sales', 'Tsutomu')
(154888, 'Sales', 'Tsutomu')
(154885, 'Sales', 'Tsutomu')
(154459, 'Sales', 'Willard')