Question 1

Create a function that takes a number as an argument and returns True or False depending
on whether the number is symmetrical or not. A number is symmetrical when it is the same as
its reverse.
Examples

is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

In [13]:
def is_symmetrical(num):
    num1=str(num)
    num2=list(str(num)).reverse()
    return num1=="".join(num2)

In [14]:
is_symmetrical(7227)

TypeError: can only join an iterable

In [60]:
list(range(len(str(1153)),0,-1))

[4, 3, 2, 1]

Question 2
Given a string of numbers separated by a comma and space, return the product of the
numbers.

Examples

multiply_nums(&quot;2, 3&quot;) ➞ 6

multiply_nums(&quot;1, 2, 3, 4&quot;) ➞ 24

multiply_nums(&quot;54, 75, 453, 0&quot;) ➞ 0

multiply_nums(&quot;10, -2&quot;) ➞ -20

In [1]:
def multiply_nums(word):
    num=word.split(',')
    result=1
    for i in num:
        result=result*int(i)
    return result

In [2]:
multiply_nums("2, 3")

6

In [3]:
multiply_nums("54, 75, 453, 0")

0

Question 3

Create a function that squares every digit of a number.
Examples

square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414
Notes
The function receives an integer and must return an integer.

In [8]:
def square_digits(num):
    digits=[int(i) for i in str(num)]
    sq_digits=[i**2 for i in digits ]
    final_digits=list(map(str,sq_digits))
    result=int(''.join(final_digits))
    return result

In [9]:
square_digits(9119)

811181

In [10]:
square_digits(2483)

416649

Question 4

Create a function that sorts a list and removes all duplicate items from it.

Examples

setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [20]:
def setify(lis):
    if type(lis)==list:
        lis=list(sorted(set(lis)))
        return lis
    else:
        print("Please enter the list for and try again")

In [21]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [22]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

Question 5

Create a function that returns the mean of all digits.

Examples

mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6

Notes

 The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in
512 is (5+1+2)/3(number of digits) = 8/3=2).

 The mean will always be an integer.

In [30]:
def mean(num):
    lis=list(str(num))
    result=0
    for i in lis:
        result+=int(i)
    mean_result=result/len(lis)
    return  round(mean_result)

In [31]:
mean(12345)

3

In [39]:
l1=[5, 7, 8, 9, 10, 15]

In [45]:
list(range(5,0,-1))

[5, 4, 3, 2, 1]