Question1

Create a function that takes an integer and returns a list from 1 to the given number, where:

1. If the number can be divided evenly by 4, amplify it by 10 (i.e. return 10 times the
number).

2. If the number cannot be divided evenly by 4, simply return the number.
Examples

amplify(4) ➞ [1, 2, 3, 40]

amplify(3) ➞ [1, 2, 3]

amplify(25) ➞ [1, 2, 3, 40, 5, 6, 7, 80, 9, 10, 11, 120, 13, 14, 15, 160,
17, 18, 19, 200, 21, 22, 23, 240, 25]

Notes

 The given integer will always be equal to or greater than 1.

 Include the number (see example above).

 To perform this problem with its intended purpose, try doing it with list
comprehensions. If that&#39;s too difficult, just solve the challenge any way you can.

In [2]:
def amplify(num):
  if num<=1:
    print("Please enter number grator than 1")
  elif num%4==0:
    result=[i*10 for i in range(1,num+1)]
    print(result)
  else:
    result=[i for i in range(1,num+1)]
    print(result)

In [3]:
amplify(25)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

In [4]:
amplify(3)

[1, 2, 3]

Question2

Create a function that takes a list of numbers and return the number that&#39;s unique.

Examples

unique([3, 3, 3, 7, 3, 3]) ➞ 7

unique([0, 0, 0.77, 0, 0]) ➞ 0.77

unique([0, 1, 1, 1, 1, 1, 1, 1]) ➞ 0

Notes

Test cases will always have exactly one unique number while all others are the same.

In [14]:
def unique(lis):
  for i in range(0,len(lis)):
    mynum=lis[i]
    if mynum not in lis[i+1:] and  mynum not in lis[:i]:
      print(mynum)

In [15]:
unique([3, 3, 3, 7, 3, 3])

7

In [16]:
unique([0, 1, 1, 1, 1, 1, 1, 1])

0

In [17]:
unique([1,2,3,1,2,4,5,3])

4
5

Question3

Your task is to create a Circle constructor that creates a circle with a radius provided by anargument.

The circles constructed must have two getters getArea() (PIr^2) and getPerimeter() (2PI*r) which give both respective areas and perimeter (circumference).

For help with this class, I have provided you with a Rectangle constructor which you can use

as a base example.

Examples

circy = Circle(11)

circy.getArea()

# Should return 380.132711084365

circy = Circle(4.44)

circy.getPerimeter()

# Should return 27.897342763877365

Notes

Round results up to the nearest integer.

In [25]:
import math
class Circle():
  def __init__(self,radius):
    self.__radius=radius
  def getArea(self):
    result=math.pi*(self.__radius)**2
    print(round(result,2))
  def getPerimeter(self):
    result=2*math.pi*self.__radius
    print(round(result,2))

In [26]:
circy = Circle(4.44)

In [27]:
circy.getPerimeter()

27.9

Question4

Create a function that takes a list of strings and return a list, sorted from shortest to longest.

Examples

sort_by_length([&quot;Google&quot;, &quot;Apple&quot;, &quot;Microsoft&quot;])

➞ [&quot;Apple&quot;, &quot;Google&quot;, &quot;Microsoft&quot;]

sort_by_length([&quot;Leonardo&quot;, &quot;Michelangelo&quot;, &quot;Raphael&quot;, &quot;Donatello&quot;])

➞ [&quot;Raphael&quot;, &quot;Leonardo&quot;, &quot;Donatello&quot;, &quot;Michelangelo&quot;]

sort_by_length([&quot;Turing&quot;, &quot;Einstein&quot;, &quot;Jung&quot;])

➞ [&quot;Jung&quot;, &quot;Turing&quot;, &quot;Einstein&quot;]

Notes

All test cases contain lists with strings of different lengths, so you won&#39;t have to deal with
multiple strings of the same length.

In [12]:
def sort_by_length(lis):
  mydic={}
  for i in lis:
    mydic[i]=len(i)
      
  result=[k for k, v in sorted(mydic.items(), key=lambda item: item[1])]
  print(result)

In [13]:
sort_by_length(["Leonardo", "Michelangelo", "Raphael", "Donatello"])

['Raphael', 'Leonardo', 'Donatello', 'Michelangelo']

In [9]:
sort_by_length(["Google", "Apple", "Microsoft"])

['Apple', 'Google', 'Microsoft']

In [14]:
my={'Leonardo': 8, 'Michelangelo': 12, 'Raphael': 7, 'Donatello': 9}
sorted(my.items(), key=lambda item: item[1])

[('Raphael', 7), ('Leonardo', 8), ('Donatello', 9), ('Michelangelo', 12)]

Question5

Create a function that validates whether three given integers form a Pythagorean triplet. The sum of the squares of the two smallest integers must equal the square of the largest number to be validated.

Examples

is_triplet(3, 4, 5) ➞ True

# 3² + 4² = 25

# 5² = 25

is_triplet(13, 5, 12) ➞ True

# 5² + 12² = 169

# 13² = 169

is_triplet(1, 2, 3) ➞ False

# 1² + 2² = 5

# 3² = 9

Notes

Numbers may not be given in a sorted order.

In [32]:
def is_triplet(a,b,c):
  mylis=[a,b,c]  
  mylis=sorted(mylis)
  return ((mylis[0])**2 + mylis[1]**2)==(mylis[2]**2)

In [33]:
is_triplet(3, 4, 5)

True

In [34]:
is_triplet(1, 2, 3)

False